version: 2.1

jobs:
  test:
    docker:
      - image: cimg/python:3.7.12
    steps:
      - checkout
      - run:
          name: Run pytests
          command: |
            mkdir test-results
            TEST_FILES=$(circleci tests glob "**/test_*.py")
            echo "$TEST_FILES" | circleci tests run --command="xargs pytest -o junit_family=legacy --junitxml=test-results/junit.xml" --verbose
      - store_test_results:
          path: test-results

workflows:
  test-workflow:
    jobs:
      - test