{% extends "_base.html" %}

<!-- user script -->
{% block user_script %}
<script lang="javascript">

  function toggleColumn(column) {
    const elements = document.querySelectorAll(`.column-${column}`);
    elements.forEach((element) => {
      element.classList.toggle("hidden");
    });

    const buttons = document.querySelectorAll(`.button-${column}`);
    buttons.forEach((button) => {
      button.classList.toggle("opacity-20");
    });
  }
</script>


{% endblock user_script %}

<!-- body -->
{% block body %}
<div
  class="rounded shadow-xl fixed right-0 bottom-0 origin-bottom z-[1] p-2 text-lg"
>
  {% for key in keys %}
  <button
    class="btn btn-xs  button-{{ key }}"
    onclick="toggleColumn('{{ key }}')"
  >
    {{ key }}
  </button>
  {% endfor %}
</div>
<div class="overflow-x-auto">
  <div class="flex flex-col items-start gap-1">
    <!-- IMAGES -->
    {% for image,metadata in zip(images,metadatas) %}
    <div class="grid grid-flow-col auto-cols-max gap-1 shadow-xl mb-2">
      {% if show_indices %}
      <div class="column--id relative h-full w-8">
        <div
          class="-rotate-90 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-xs"
        >
          {{loop.index}}
        </div>
      </div>
      {% endif %}

      <!-- IMAGES -->
      {% for key in keys %}
      <div class="column-{{ key }} relative">
        <div class="font-mono text-xs text-center py-1">{{ key }}</div>
        <img src="{{ image[key] }}" class="h-64" />
      </div>
      {% endfor %}

      <!-- METADATA -->
      {% for mkey in mkeys %}
      <div class="column-{{ mkey }} relative">
        <div class="font-mono text-xs text-center py-1">{{ mkey }}</div>
        <!-- metadata[mkeys] is a dictionary of <str,str>, print all elements -->
        <div class="flex flex-col gap-1 p-2">
          {% for key, value in metadata[mkey].items() %}
          <div class="grid grid-cols-12 gap-2">
            <div class="col-span-6">
              <div class="badge badge-primary w-full">{{ key }}</div>
            </div>
            <div class="col-span-6">
              <div class="badge badge-secondary w-full">{{ value }}</div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% if group_size and (loop.index % group_size == 0) and not loop.last %}
    <div class="group-divider w-full border-b shadow-xl mb-4 h-8 border-dashed border-stone-400"></div>
    {% endif %}
    {% endfor %}
  </div>

  {% endblock body %}
</div>
