{% extends "_base.html" %}

<!-- user script -->
{% block user_script %}
<script lang="ts">
  let resize = 1.0;

  function updateResizables() {
    document.querySelectorAll(".resizable").forEach((el) => {
      el.style.height = `${8 * resize}rem`;
    });
  }

  function zoomIn() {
    resize += 0.1;
    updateResizables();
  }

  function zoomOut() {
    resize -= 0.1;
    updateResizables();
  }

  function resetZoom() {
    resize = 1.0;
    updateResizables();
  }
</script>
{% endblock user_script %}

<!-- body -->
{% block body %}

<div
  class="rounded shadow-xl fixed right-0 bottom-0 origin-bottom z-[1] p-2 text-lg"
>
  <button class="btn btn-xs  button-{{ key }}" onclick="zoomOut()">
    Zoom [-]
  </button>
  <button class="btn btn-xs  button-{{ key }}" onclick="resetZoom()">
    Reset
  </button>
  <button class="btn btn-xs  button-{{ key }}" onclick="zoomIn()">
    Zoom [+]
  </button>
</div>

<div>
  <div class="flex flex-col gap-10">
    {% for key in images_clusters.keys() %}

    <details
      class="collapse bg-base-200 transition-all border-l-4 border-[{{ labels_colors[key] }}]"
    >
      <summary class="collapse-title text-xl font-medium">
        <div class="flex flex-row gap-2 items-center text-2xl mb-4">
          <span class="font-bold">Cluster:</span>
          <span class="font-thin">{{ key }}</span>
        </div>
      </summary>
      <div class="collapse-content">
        <div class="flex flex-row flex-wrap gap-2">
          {% for image in images_clusters[key] %}
          <div class="shadow">
            <img
              src="{{ image }}"
              class="resizable h-[8rem] border-b-4 hover:border-b-0 border-[{{ labels_colors[key] }}] hover:scale-110 transition-all"
            />
          </div>
          {% endfor %}
        </div>
      </div>
    </details>

    <!-- <div class="shadow-xl px-4 border-l-4 border-[{{ labels_colors[key]}}]">
      <div class="flex flex-row gap-2 items-center text-2xl mb-4">
        <span class="font-bold">Cluster:</span>
        <span class="font-thin">{{ key }}</span>
      </div>
      <div class="flex flex-row flex-wrap gap-2">
        {% for image in images_clusters[key] %}
        <div class="shadow">
          <img
            src="{{ image }}"
            class="h-32 border-b-4 hover:border-b-0 border-[{{ labels_colors[key] }}] hover:scale-110 transition-all"
          />
        </div>
        {% endfor %}
      </div>
    </div> -->
    {% endfor %}
  </div>
</div>
{% endblock body %}
